
.chat-side
 .sideBar.header
  .sideBar__user-box
   .sideBar__user-box_userName yuma
   .sideBar__user-box__menu
    = link_to "#" , class: "sideBar__user-box__menu__btn" do
     = icon('far', 'edit', class: "ideBar__user-box__menu__btn--icon")
    = link_to "#" , class: "sideBar__user-box__menu__btn" do
     = icon('fas', 'cog', class: "ideBar__user-box__menu__btn--icon")

 .side_bar.contents
  
  .side_bar__group-list