.chat-side{
  background-color: #2f3e51;
  height: 100vh;
  width: 300px;
  float: left;
  color: white;
  
}

.sideBar.header{
  height: 100px;
  background-color: #253141;
  align-items: center;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

.sideBar__user-box{
  justify-content: space-between;
  display: flex;
  width: 100%;
  font-weight: bold;
  height:20px ;
  line-height: 20px;
  
  &_userName{
    display: flex;
    line-height: normal;
    font-weight: bold;
    line-height: 20px;
  }

  &__menu{
    display: flex;
    list-style: none;
    color: #ffffff;
    float: right;
    .far{
      margin-right: 5px;
      color:white; 
    }
    .fas{
      color:white;
   
    }
  }
}

.side-bar__groups-list {
  padding: 20px;
  background-color: #2f3e51;
  height: calc(100vh - 100px);
}

.group {
  &__name {
    color: #ffffff;
    font-size:15px;
  } 

  &__message {
    color: #ffffff;
    font-size:11px;
  }
}

a {
  text-decoration: none;
}